<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, width=device-width"/>-->
    <meta name="viewport" content="width=device-width">

<!--    <meta name="google-signin-scope" content="profile email">-->
<!--    <meta name="google-signin-client_id" content="1081075870716-k7q8bgo2f1eip8pgkjeejr16imo0s9r5.apps.googleusercontent.com">-->

    <title>FLOWOLF</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/image/favicon.ico">

    <!-- jQuery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />

    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- KAKAO login JS -->
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- bootstrap-theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- fileEx JS -->
    <script src="/js/fileEx.js"></script>

    <!-- 정규식 -->
    <script src="/js/regEx.js"></script>

    <!-- FLOWOLF CUSTOM JS -->
    <script src="/js/flowolf_custom.js"></script>

    <!-- Get Date JS -->
    <script src="/js/getDate.js"></script>

    <!-- google -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- datepicker CSS & JS -->
    <link rel="stylesheet" href="/css/datepicker.min.css">
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/datepicker.en.js"></script>
    <script src="/js/datepicker.ko.js"></script>

    <!-- swiper CSS & JS -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <script src="/js/swiper.js"></script>

    <!-- scroll custom CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.min.css" />
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>

    <!-- custom style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style_color.css">
    <link rel="stylesheet" href="/css/style_font.min.css">
    <link rel="stylesheet" href="/css/style_margin.css">
    <link rel="stylesheet" href="/css/style_padding.css">
    <link rel="stylesheet" href="/css/style_chat_icon_popup.css">
    <link rel="stylesheet" href="/css/style_collection.css">
    <link rel="stylesheet" href="/css/style_post.css">

</head>