<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common/head :: head('FLOWOLF')"></head>
<body>
<div class="body-wrap-full open-nav">
    <div class="container">

        <!-- body-left-panel:s -->
        <aside class="body-left-panel">
            <nav th:replace="fragments/common/aside :: aside"></nav>
        </aside>
        <!-- body-left-panel:f -->

        <!-- body-right-panel:s -->
        <div class="body-right-panel">

            <!-- aside open&close btn -->
            <div class="nav-toggle-btn">
                <a href="#toggleBtn" class="flow-icon">aside nav btn</a>
            </div>

            <!-- top -->
            <header th:replace="fragments/common/top :: top"></header>

            <!-- contents -->
            <section class="content project-detail">
                <div class="project-wrap">

                    <!-- collection article left content : s -->
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 padleft-0">
                        <!-- coll article title -->
                        <strong th:if="${#strings.equals(artKind, 'coll')}" class="dis-block size-20 color-gray">담아둔 글 보기</strong>
                        <!-- coll article title -->
                        <strong th:if="${#strings.equals(artKind, 'my')}" class="dis-block size-20 color-gray">내 게시물 글보기</strong>

                        <!-- collection timeline : s -->
                        <th:block th:each="timeLine : ${timeLineList}">
                            <div class="timeline-box martop-20">
                                <input type="hidden" class="member" th:data-mem_id="${#authentication.getPrincipal().getMember().mem_id}" th:data-mem_nick="${#authentication.getPrincipal().getMember().mem_nick}">
                                <input type="hidden" th:if="${timeLine.basic != null }" class="col-no" data-col="basic_no" th:data-no="${timeLine.basic.basic_no }">
                                <input type="hidden" th:if="${timeLine.task != null }" class="col-no"  data-col="task_no" th:data-no="${timeLine.task.task_no }">
                                <input type="hidden" th:if="${timeLine.todo != null }" class="col-no" data-col="todo_no" th:data-no="${timeLine.todo.todo_no }">
                                <input type="hidden" th:if="${timeLine.vote != null }" class="col-no" data-col="vote_no" th:data-no="${timeLine.vote.vote_no }">
                                <input type="hidden" th:if="${timeLine.schedule != null }" class="col-no" data-col="schd_no" th:data-no="${timeLine.schedule.schd_no }">

                                <!-- project go link : s -->
                                <div class="timeline-coll-head">
                                    <strong class="size-20 default-color" th:text="${timeLine.project.pro_name}">timeLine.project.pro_name</strong>
                                    <a th:href="@{/pro/detail/{pro_no} (pro_no=${timeLine.project.pro_no})}" class="coll-head-link">
                                        프로젝트 바로가기<i class="fas fa-angle-double-right marleft-10"></i>
                                    </a>
                                </div>
                                <!-- project go link : f -->

                                <!-- timeline header:s -->
                                <div class="timeline-header back-color-white">
                                    <!-- article writer info -->
                                    <div class="article-writer-info">
                                        <dl>
                                            <dt class="posi-re maright-15 cursor-point" onclick="fn_openPopup(this)"
                                                th:data-id="${timeLine.getMember().mem_id }" th:data-nick="${timeLine.getMember().mem_nick }" th:data-my="${#authentication.getPrincipal().getMember().mem_id }">
                                                <i class="flow-icon icon-circle circle-s"></i>
                                                <img th:src="@{/mem/pic?mem_id=} + ${timeLine.getMember().mem_id}" onerror="this.src='/image/user-pic-sample.png'" height="40">
                                            </dt>
                                            <dd>
                                                <strong class="dis-block size-18 color-black" th:text="${timeLine.getMember().mem_nick}">timeLine.getMember().mem_nick</strong>
                                                <span class="dis-block size-14 color-gray-l" th:text="${#temporals.format(timeLine.time, 'yyyy-MM-dd HH:mm')}"></span>

                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <!-- timeline header:f -->

                                <!-- timeline content:s -->
                                <div class="timeline-content">
                                    <!-- if문  -->
                                    <th:block th:if="${timeLine.basic != null}">
                                        <th:block th:replace="fragments/project/timeline_article :: timeline_article"></th:block>
                                    </th:block>
                                    <th:block th:if="${timeLine.task != null}">
                                        <th:block th:replace="fragments/project/timeline_task :: timeline_task"></th:block>
                                    </th:block>
                                    <th:block th:if="${timeLine.todo != null}">
                                        <th:block th:replace="fragments/project/timeline_todo :: timeline_todo"></th:block>
                                    </th:block>
                                    <th:block th:if="${timeLine.vote != null}">
                                        <th:block th:replace="fragments/project/timeline_vote :: timeline_vote"></th:block>
                                    </th:block>
                                    <th:block th:if="${timeLine.schedule != null}">
                                        <th:block th:replace="fragments/project/timeline_schedule :: timeline_schedule"></th:block>
                                    </th:block>
                                </div>
                                <!-- timeline content:f -->

                                <!-- timeline footer:s -->
                                <div class="timeline-footer">

                                    <!-- 좋아요 / 댓글 개수:s -->
                                    <div class="article-etc-info">

                                        <!-- 좋아요 선택 시 이모티콘 나올 부분 : s -->
                                        <div class="like-result cursor-point" th:onclick="'fn_emoUserPop(' + ${timeLineStat?.index} + ')'">
                                            <th:block th:if="${emoStat?.index lt 2}" th:each="emo : ${timeLine.emoticonList}">
                                                <img th:src="@{/emo/view?emo_no=} + ${emo.emo_no}" data-no=""  width="20" class="maright-10"
                                                     th:attrappend="data-no=${timeLine.emo_user_chk  ? #authentication.getPrincipal().getMember().mem_no : ''}">
                                            </th:block>
                                            <div class="like-mem dis-inblock" th:data-size="${#lists.size(timeLine.emoticonList)}">
                                                <strong class="me" th:if="${timeLine.emo_user_chk == true and #lists.size(timeLine.emoticonList) == 1}" th:text="${#authentication.getPrincipal().getMember().mem_nick} + '님'"></strong>
                                                <strong class="me" th:if="${timeLine.emo_user_chk == true and #lists.size(timeLine.emoticonList) gt 1}" th:text="${#authentication.getPrincipal().getMember().mem_nick} + '님 외 ' + ${#lists.size(timeLine.emoticonList) -1} + '명'"></strong>
                                                <strong class="me" th:if="${timeLine.emo_user_chk == false and #lists.size(timeLine.emoticonList) gt 0}" th:text="${#lists.size(timeLine.emoticonList)} + '명'"></strong>
                                            </div>
                                        </div>
                                        <!-- 좋아요 선택 시 이모티콘 나올 부분 : f -->

                                        <!-- 이모티콘 사용자 리스트 팝업 : s -->
                                        <div class="dim-layer">
                                            <div class="dimBg"></div>

                                            <div th:id="'emoUser_' + ${timeLineStat?.index }" class="pop-layer">
                                                <!-- pop header -->
                                                <header class="pop-top border-box">
                                                    리액션 확인
                                                    <a href="#" class="posi-ab dis-block over-hidden icon-close btn-close">close</a>
                                                </header>

                                                <!-- pop con -->
                                                <section class="pop-con border-box">
                                                    <!-- 좋아요 개수 : s -->
                                                    <ul class="like-count-info">
                                                        <li>총 <span th:text="${#lists.size(timeLine.emoticonList)}">timeLine.emoticonList</span></li>
                                                    </ul>
                                                    <!-- 좋아요 개수 : f -->

                                                    <!-- 좋아요 리스트 : s -->
                                                    <div class="like-count-list" data-simplebar>
                                                        <dl th:data-id="${emo.memberList[0].mem_id }" th:each="emo : ${timeLine.emoticonList}">
                                                            <dt	class="posi-re cursor-point" onclick="fn_openPopup(this)"
                                                                   th:data-id="${timeLine.member.mem_id }" th:data-nick="${timeLine.member.mem_nick }" th:data-my="${#authentication.getPrincipal().getMember().mem_id}">
                                                                <i class="icon-circle circle-s"></i>
                                                                <img th:src="@{/mem/pic?mem_id=} + ${emo.memberList[0].mem_id}" onerror="this.src='/image/user-pic-sample.png'" width="40">
                                                            </dt>
                                                            <dd>
                                                                <div class="like-user-name" th:text="${emo.memberList[0].mem_nick}">emo.memberList[0].mem_nick</div>
                                                                <div class="like-user-emoticon"><img th:src="@{/emo/view?emo_no=} + ${emo.emo_no}" width="40"></div>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                    <!-- 좋아요 리스트 : f -->
                                                </section>
                                            </div>
                                        </div>
                                        <!-- 이모티콘 사용자 리스트 팝업 : f -->

                                        <!-- 좋아요 / 담아두기 버튼 : s-->
                                        <ul class="article-etc-menu martop-10 marbtm-0">
                                            <li class="posi-re cursor-point">
                                                <th:block th:if="${timeLine.emo_user_chk}">
                                                    <!-- like button : s -->
                                                    <div id="emoticonToggle" class="emoticon-btn cursor-point"
                                                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none">
                                                        <i class="fas fa-thumbs-up maright-10"></i>좋아요
                                                    </div>
                                                    <!-- like button : f -->

                                                    <!-- Chagned like button : s -->
                                                    <div class="emoticon-after-btn cursor-point" th:data-emouser="${#authentication.getPrincipal().getMember().mem_no }" th:data-emo="${timeLine.emo_no}" style="display:block">
                                                        <img th:src="@{/emo/view?emo_no=} + ${timeLine.emo_no}" width="20" class="maright-10">
                                                        <span class="size-14 default-color" th:text="${timeLine.emo_name}">emo.emo_name</span>
                                                    </div>
                                                    <!-- Chagned like button : f -->
                                                </th:block>
                                                <th:block th:unless="${timeLine.emo_user_chk}">
                                                    <!-- like button : s -->
                                                    <div id="emoticonToggle" class="emoticon-btn cursor-point" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-thumbs-up maright-10"></i>좋아요
                                                    </div>
                                                    <!-- like button : f -->

                                                    <!-- Chagned like button : s -->
                                                    <div class="emoticon-after-btn cursor-point" data-emouser="" data-emo="">
                                                        <img src="" width="20" class="maright-10">
                                                        <span class="size-14 default-color"></span>
                                                    </div>
                                                    <!-- Chagned like button : f -->
                                                </th:block>
                                                <!-- Emoticon list box -->
                                                <div class="dropdown-menu emoticon-box" aria-labelledby="emoticonToggle">
                                                    <ul>
                                                        <th:block th:each="emo : ${emoticonList}">
                                                            <li class="posi-re" th:data-emono="${emo.emo_no }">
                                                                <img th:src="@{/emo/view?emo_no=} + ${emo.emo_no}">
                                                                <span th:text="${emo.emo_name}">${emo.emo_name }</span>
                                                            </li>
                                                        </th:block>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="cursor-point" onclick="fn_commentFocus(this)"><i class="fas fa-comment-alt maright-10"></i> 댓글작성</li>
                                            <li class="cursor-point coll-btn " th:data-collno="${timeLine.coll_chk }" th:attrappend="class=${timeLine.coll_chk != 0 ? 'default-color' : ''}">
                                                <i class="fas fa-bookmark maright-10"></i>
                                                <span th:if="${timeLine.coll_chk != 0}" th:text="'담아두기 취소'">담아두기 취소</span>
                                                <span th:unless="${timeLine.coll_chk != 0}" th:text="'담아두기'">담아두기</span>
                                            </li>
                                        </ul>
                                        <!-- 좋아요 / 담아두기 버튼 : f-->

                                    </div>
                                    <!-- 좋아요 / 댓글 개수:f -->

                                </div>
                                <!-- timeline footer:f -->

                            </div>
                        </th:block>
                        <!-- collection timeline : f -->

                    </div>
                    <!-- collection article left content : f -->

                </div>
                <form action="/coll/collArticle" id="collFrm"></form>
                <script th:inline="javascript">

                /*<![CDATA[*/

                var artKind = [[${artKind}]];

                //article img slide
                var swiper = new Swiper('.swiper-container-img', {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    slidesPerGroup: 1,
                    loop: false,
                    loopFillGroupWithBlank: true,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });

                //이모티콘 유저 리스트 팝업
                function fn_emoUserPop(count){
                    layer_popup("#emoUser_"+count);
                }

                //task 상태 수정 팝업
                function fn_editTaskState(el){

                    var item = $(el);
                    var stateList = item.parent('.task-state-list');
                    var layerPopCon = $("#editTaskState");

                    // task_no & task_state
                    var task_no = stateList.siblings(".edit-confirm").data("taskno");
                    var task_state = item.children().val();

                    // 값 이동
                    layerPopCon.children('form').children("input[name=task_no]").val(task_no);
                    layerPopCon.children('form').children("input[name=task_state]").val(task_state);

                    layer_popup(layerPopCon);
                }

                // task 진척도 수정
                function fn_timeProgressSelect(el){
                    var item = $(el);
                    var task_rate = item.children('span').text();
                    var task_no = item.siblings('input').data("taskno");

                    $(".edit-rate-form").children("input[name=task_no]").val(task_no);
                    $(".edit-rate-form").children("input[name=task_rate]").val(task_rate);

                    $(".edit-rate-form").submit();
                }

                $(function(){

                    // 좋아요 클릭 이벤트
                    $(".emoticon-box li").click(function(){
                        var item = $(this);
                        var emo_no = $(this).data("emono");
                        var timeline_col = $(this).parents(".timeline-box").children(".col-no").data("col");
                        var timeline_no = $(this).parents(".timeline-box").children(".col-no").data("no");
                        var mem_id = $(this).parents(".timeline-box").children(".member").data("mem_id");
                        var mem_nick = $(this).parents(".timeline-box").children(".member").data("mem_nick");

                        var emoticonAfterBtn = $(this).parents(".dropdown-menu").siblings(".emoticon-after-btn");
                        var likeResult = item.parents(".article-etc-menu").siblings(".like-result");
                        var likeImg = likeResult.children("img");
                        var likeMem = likeResult.children(".like-mem");
                        var size = likeMem.data("size");

                        var emoUserListPop = likeResult.siblings(".dim-layer");
                        var popCon = emoUserListPop.children(".pop-layer").children(".pop-con");
                        var emoUserCntSpan = popCon.children("ul").find("span");
                        var emoUserCnt = Number(popCon.children("ul").find("span").text());

                        var likeCountList = popCon.children(".like-count-list");
                        var simplebarCon = likeCountList.children(".simplebar-scroll-content").children(".simplebar-content");

                        $.ajax({
                            url : "/emo/insert",
                            method : "get",
                            data : {emo_no:emo_no, timeline_col:timeline_col, timeline_no:timeline_no},
                            dataType : "json",
                            success : function(data){
                                fn_emoticon(item);
                                emoticonAfterBtn.data("emouser", data);
                                emoticonAfterBtn.data("emo", emo_no);

                                // 이모티콘 이미지
                                if(likeImg.length < 3){
                                    likeResult.prepend("<img src=\"/emo/view?emo_no="+emo_no+"\" data-no="+data+" width=\"20\" class=\"maright-10\">");
                                }

                                // 좋아요 누른 회원
                                if(size > 0){
                                    likeMem.html("<strong>"+mem_nick+"</strong> 님  외"+size+"명");
                                }else{
                                    likeMem.html("<strong class=\"me\">"+mem_nick+"</strong> 님");
                                }

                //                likeMem.html("<strong class=\"me\">"+size+"명</strong>");

                                // data-size : +1
                                likeMem.data("size", size+1);

                                // append 내용
                                var str = "<dl data-id=\"${member.mem_id }\">"
                                            + "<dt class=\"posi-re\">"
                                                + "<i class=\"icon-circle circle-s\"></i>"
                                                + "<img src=\"/mem/pic?mem_id=${member.mem_id }\" onerror=\"this.src='/image/user-pic-sample.png'\" width=\"40\">"
                                            + "</dt>"
                                            + "<dd>"
                                                + "<div class=\"like-user-name\">${member.mem_nick }</div>"
                                                + "<div class=\"like-user-emoticon\"><img src=\"/emo/view?emo_no="+emo_no+"\" width=\"40\"></div>"
                                            + "</dd>"
                                        + "</dl>";

                                emoUserCntSpan.html(emoUserCnt+1);	// 인원수 추가
                                simplebarCon.append(str);			// 리스트 추가

                            }
                        });
                    });

                    // 이모티콘 취소 이벤트
                    $(".emoticon-after-btn").click(function(){
                        var item = $(this);
                        var emo_user_no = item.data("emouser");
                        var emo_no = item.data("emo");
                        var timeline_col = $(this).parents(".timeline-box").children(".col-no").data("col");
                        var timeline_no = $(this).parents(".timeline-box").children(".col-no").data("no");

                        var likeResult = item.parents(".article-etc-menu").siblings(".like-result");
                        var likeImg = likeResult.children("img");
                        var likeMem = likeResult.children(".like-mem");
                        var size = likeMem.data("size");

                        var emoUserListPop = likeResult.siblings(".dim-layer");
                        var popCon = emoUserListPop.children(".pop-layer").children(".pop-con");
                        var emoUserCntSpan = popCon.children("ul").find("span");
                        var emoUserCnt = Number(popCon.children("ul").find("span").text());

                        var likeCountList = popCon.children(".like-count-list");
                        var simplebarCon = likeCountList.children(".simplebar-scroll-content").children(".simplebar-content");
                        var emoUserOne = simplebarCon.children("dl");

                        $.ajax({
                            url : "/emo/delete",
                            method : "get",
                            data : {emo_no:emo_no, timeline_col:timeline_col, timeline_no:timeline_no, emo_user_no:emo_user_no},
                            dataType : "json",
                            success : function(data){
                                fn_emoResultBtn(item);
                                item.data("emouser", "");

                                // 이모티콘 이미지
                                likeImg.each(function(i, e){
                                    if(likeImg.eq(i).data("no") == emo_user_no){
                                        likeImg.eq(i).remove();
                                    }
                                });

                                // 좋아요 누른 회원
                                if(size == 1 && likeMem.children("strong").hasClass("me")){
                                    likeMem.html("");
                                }else if(size > 0){
                                    likeMem.html(size-1+"명");
                                }else{
                                    likeMem.html("");
                                }

                                // data-size : -1
                                likeMem.data("size", size-1);

                                emoUserCntSpan.html(emoUserCnt-1);	// 인원수 감소
                                emoUserOne.each(function(i, e){		// 리스트 삭제
                                    if (emoUserOne.eq(i).data("id") == '${member.mem_id }') {
                                        emoUserOne.eq(i).remove();
                                    }
                                });
                            }
                        });
                    });

                    // 담아두기 버튼 이벤트
                    $(".coll-btn").click(function(){

                        var item = $(this);
                        var coll_no = item.data("collno");
                        var timeline_col = $(this).parents(".timeline-box").children(".col-no").data("col");
                        var timeline_no = $(this).parents(".timeline-box").children(".col-no").data("no");

                        if(item.hasClass('default-color')){		// 취소

                            $.ajax({
                                url : "/coll/delete",
                                method : "get",
                                data : {timeline_col:timeline_col, timeline_no:timeline_no},
                                dataType : "json",
                                success : function(data){
                                    if(artKind == 'coll'){
<!--                                        $("#collFrm").submit();-->
                                        window.location.reload();
                                    }
                                }
                            });
                        }else{									// 등록

                            $.ajax({
                                url : "/coll/insert",
                                method : "get",
                                data : {timeline_col:timeline_col, timeline_no:timeline_no},
                                dataType : "json",
                                success : function(data){
                                    item.data("collno", data);
                                }
                            });
                        }

                        fn_likeChange(item);
                    });

                    // '할 일' 항목 개수에 따라 각 항목 % 정하기
                    var percent = 0;
                    $(".todo-content").each(function(i,e){
                        if($(this).children("dl").length == 1) {
                            percent = 100;
                            $(this).children("dl").find('.todo-percent-txt').html(percent);
                        } else if($(this).children("dl").length == 2) {
                            percent = 50;
                            $(this).children("dl").find('.todo-percent-txt').html(percent);
                        } else if($(this).children("dl").length == 3) {
                            percent = 33;
                            $(this).children("dl").find('.todo-percent-txt').html(percent);
                            $(this).children("dl").eq(2).find('.todo-percent-txt').html(percent+1);
                        } else if($(this).children("dl").length == 4) {
                            percent = 25;
                            $(this).children("dl").find('.todo-percent-txt').html(percent);
                        } else if($(this).children("dl").length == 5) {
                            percent = 20;
                            $(this).children("dl").find('.todo-percent-txt').html(percent);
                        }
                    });

                    // '할 일' 완료 % 및 개수, 전체 개수 구하기
                    $(".todo-content").each(function(i, e){
                        var todoItemLength = $(this).find('dl').length;					// 할일 항목 개수
                        var todoItemSuccess = $(this).find('dl[data-chk=y]').length;	// 할일 항목 완료 개수
                        var todoPercent = $(this).siblings('.todo-info').find('.todo-percent-cnt');		// 할일 완료 %
                        var todoAllCount = $(this).siblings('.todo-info').find('.todo-all-cnt');		// 할일 항목 전체 개수
                        var todoFinishCount = $(this).siblings('.todo-info').find('.todo-finish-cnt');	// 할일 항목 완료 개수
                        var todoRange = $(this).siblings('.todo-progress-bar').find('.todo-range');		// 할일 % 게이지 바

                        todoAllCount.text(todoItemLength);
                        todoFinishCount.text(todoItemSuccess);

                        var itemPcnt = Math.floor(100 / todoItemLength);
                        var successPcnt = itemPcnt * todoItemSuccess;
                        todoPercent.html(successPcnt);
                        todoRange.css("width", successPcnt+"%");
                    });

                    // 첨부파일 이미지 바꾸기
                    $(".upload-file-info").each(function(i, e){
                        var iconTag = $(this).find("i.dis-inblock");
                        var dataName = iconTag.attr("data-name");
                        fileExCheck(iconTag);
                    });
                });

                /*]]*/
                </script>
            </section>

            <!-- layer pop up contents -->
            <div th:replace="fragments/common/layerPopCon :: layerPopCon"></div>

        </div>
        <!-- body-right-panel:f -->

    </div>
</div>

<!-- go to top -->
<a href="#goTop" id="gotoTop"><i class="fas fa-arrow-circle-up size-50 color-black"></i></a>


<script src="/js/common.js"></script>

</body>
</html>