<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width">

    <title>FLOWOLF</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/image/favicon.ico">

    <!-- jquery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- font-awesome css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- bootstrap-theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- 정규식 -->
    <script src="/js/regEx.js"></script>

    <!-- kakao login js -->
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

    <!-- google -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- custom style -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="/css/style_color.css">
    <link rel="stylesheet" href="/css/style_font.min.css">
    <link rel="stylesheet" href="/css/style_margin.css">
    <link rel="stylesheet" href="/css/style_padding.css">

</head>